* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ink Free;
    font-weight: 700;
    word-wrap: break-word;
}

body {
    width: 100%;
    min-width: 100vh;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back {
    text-align: start;
    margin: 5%;
}

#myForm {
    box-shadow: 5px 5px 25px rgba( 0, 0, 0, 0.2);
    margin: 10%;
    width: 60%;
    text-align: center;
    border-radius: 30px;
    background: #a8eaf3;
}

h1,
input,
button {
    margin: 5%;
}

button {
    width: 100px;
    border-radius: 30px;
    height: 40px;
}

#box {
    justify-content: space-between;
}

label {
    width: 30%;
    text-align: start;
    justify-content: start;
}

input {
    width: 200px;
}