* {
    margin: 0px;
    padding: 0px;
}



@media screen and (max-width: 850px) {
    .navbar {
        position: fixed;
        bottom: 5px;
        width: 100%;
    }

    #confirm {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: aquamarine;
    }

    .btn {
        position: fixed;
        bottom: 70px;
        width: 150px;
        height: 40px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 7px;
        cursor: pointer;
        
    }
    
    .btn.add-order-btn {
        right: 5px;
        background-color: aquamarine;
    }

    .btn.import-products-btn {
        left: 10px;
        background-color: aquamarine;
    }

    .btn.export-products-btn {
        right: 10px;
        background-color: palevioletred;
    }
}