#main {
    display: none;
}


.navbar {
    z-index: 999;
    background-color: #fff;
}

.contents {
    background-color: rgb(246 240 240 / 52%);
}


.tab {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-top: 1px solid gray;
}

.tab-item > .fas {
    margin: 5px auto;
    font-size: larger;

}

.tab-item > span {
    font-size: small;
    font-weight: lighter;
}

.tab-item {
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    cursor: pointer;
}

.tab-item.active {
    color: rgb(6, 221, 149);
}


.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}


#contents-form {
    display: none;
}

.content-item {
    background-color: #fff;
    border-bottom: 0.2px solid rgb(194, 192, 192);
    box-shadow: 10px;
    display: flex;
    flex-direction: column;
}


.date-status {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 0.1px solid rgb(224, 222, 222);
    padding: 10px;
    box-sizing: border-box;
}

.info-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}