* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ink Free;
    font-weight: 700;
}

#updateOrBack {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

button {
    border-radius: 30px;
}

body {
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexDiv {
    display: flex;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    border: 1px grey;
}

.cash {
    display: flex;
}

#unit {
    margin-left: 5px;
}

img {
    border-radius: 50%;
    max-width: 200px;
    min-height: 200px;
    width: 50%;
    height: 50%;
    margin: 5%;
}

.card {
    box-shadow: 5px 5px 25px rgba( 0, 0, 0, 0.2);
    margin: 10%;
    width: 60%;
    text-align: center;
    border-radius: 30px;
    background: #a8eaf3;
}

h2 {
    font-size: 5vw;
    margin: 5px;
}

p {
    font-size: 2vw;
}

.attribute {
    margin-left: 10%;
    width: 30%;
}

#note {
    margin-bottom: 5%;
}

.infor {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    width: 40%;
    word-wrap: break-word;
}

@media screen and (max-width: 850px) {
    .card {
        min-width: 200px;
        min-height: 300px;
    }
}

@media screen and (min-width: 851px) {
    .card {
        min-width: 400px;
        min-height: 600px;
    }
}