    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Ink Free;
        font-weight: 700;
    }
    
    img {
        border-radius: 50%;
        max-width: 200px;
        min-height: 200px;
        width: 50%;
        height: 50%;
        margin: 5%;
    }
    
    #InforForm {
        text-align: center;
    }
    
    #back {
        text-align: start;
        margin: 5%;
    }
    
    #box {
        margin: 3%;
    }
    
    button {
        height: 30px;
        border-radius: 30px;
        width: 200px;
        font-size: 30px;
        height: 40px;
    }
    
    .flexDiv {
        display: flex;
        text-align: start;
    }
    
    .flexDiv label {
        width: 150px;
        margin-left: 50px;
        margin-top: 2%;
        margin-left: 5%;
        font-size: 24px;
        margin-bottom: 2%;
    }
    
    .flexDiv input {
        width: 350px;
        height: 40px;
        margin-left: 30%;
        margin-top: 2%;
        margin-left: 5%;
        margin-bottom: 2%;
    }